.card-style:hover{
box-shadow: 1px 7px 16px -2px rgba(0,0,0,0.63);
-webkit-box-shadow: 1px 7px 16px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 1px 7px 16px -2px rgba(0,0,0,0.63);
}
.card-img{
    width: 85px !important;
    padding: 10px;
}
